@import url('https://fonts.googleapis.com/css?family=Poppins')

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
	margin: 0
	padding: 0
	border: 0
	font-size: 100%
	font: inherit
	vertical-align: baseline

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
	display: block

body
	line-height: 1

ol, ul
	list-style: none

blockquote, q
	quotes: none

blockquote:before, blockquote:after, q:before, q:after
	content: ''
	content: none

table
	border-collapse: collapse
	border-spacing: 0

*
	box-sizing: border-box

row:before,
row:after
	content: ""
	display: table
	clear: both

$total-columns: 6

$col-widths: ()
@for $i from 1 through $total-columns
	@for $j from 1 through $i
		$w: ($j/$i)

		@if not index($col-widths, $w)
			.col-#{$j}-#{$i}
				width: $w * 100%

			$col-widths: append($col-widths, $w, comma)

$font-weight-bold: 600

@mixin transform($scale)
	-webkit-transform: scale($scale)
	-ms-transform: scale($scale)
	transform: scale($scale)

body
	font-family: 'Poppins', sans-serif

.container
	width: 100%
	max-width: 1200px
	margin: 0 auto

header
	background-image: url("https://68.media.tumblr.com/209312b63422987a855a96ed02f11ad4/tumblr_on17be0BPo1tgv55no1_1280.jpg")
	background-color: brown
	background-position: center
	background-size: cover
	background-attachment: fixed
	opacity: .5
	max-width: 1200px
	margin: 0 auto
	display: -webkit-box
	display: -ms-flexbox
	display: -webkit-flex
	display: flex
	justify-content: flex-end

.background
    background:url('../img/bg/diagonalnoise.png')
    position: relative

.layer
    background-color: rgba(248, 247, 216, 0.7)
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

header li:first-child
	margin-right: auto
	padding: 5px

header li
	display: -webkit-box
	display: -ms-flexbox
	display: -webkit-flex
	display: flex
	align-items: center
	padding: 15px

header a
	font-size: 20px
	color: white
	text-decoration: none
	padding: 10px
	border-radius: 10px
	transition: .3s
	-webkit-transform: scale(1,1)
	-ms-transform: scale(1,1)
	transform: scale(1,1)

header .container a:hover
	color: #FC575E
	background-color: white
	transform: scale(1.2)


.jumbotron
.tabs
.gallery
.team
footer
.copyrights
